body {
  background-color: #555;
  background: url('../img/background.jpg');
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 h1 {
   color: yellow;
 }

 h3 {
   color: #555;
   font-style: italic;
 }

 .contentBody {
   background-color: #999;
   margin-left: 525px;
   margin-right: 525px;
 }

 button {
   background-color: yellow;
 }
